.company-container {
  margin-left: 5em;
  margin-top: 6em;
  width: 35%;
}
.card-link {
  text-decoration: none;
}

.c-title {
  font-size: 30px;
  color: #d33682;
  margin: 2em 2em 1em 2em;
}

.c-frame {
  border: 1px solid #839496;
  width: 85%;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: .5em 1em 1em;
  grid-row-gap: 15px;
  padding: 15px;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.c-name {
  color: #268bd2;
  cursor: auto;
  grid-column: 2/span 3;
  grid-row: 1;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-web {
  color: #cb4b16;
  cursor: auto;
  grid-column: 2/span 3;
  height: 25px;
  grid-row: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-est {
  color: #6c71c4;
  cursor: auto;
  grid-row: 3;
  grid-column: 2;
  width: 65px;
  height: 20px;
}

.c-type {
  color: #b58900;
  cursor: auto;
  grid-row: 3;
  grid-column: 3;
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -4em;
  height: 20px;
}

.c-logo {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 5em;
}

.c-logo2 {
  width: 4em;
  height: 4em;
}
