.topnav {
  overflow: hidden;
  background-color: #002b36;
  border: 1px solid #002b36;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
}

.add {
  float: right;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: #268bd2;
  background: transparent;
}

.add:hover {
  border-bottom: 2px solid #dc322f;
  border-radius: 30px;
  color: #268bd2;
}

.add.active {
  border-bottom: 2px solid #dc322f;
  border-radius: 15px;
  color: #d33682;
}

.home {
  float: left;
  margin-left: 2em;
}

/* form styles */

.create-company-form {
  max-width: 35em;
  padding: 30px;
  margin: 8em auto;
  border-radius: 5px;
  border: 1px solid #859900;
}

.title {
  color: #d33682;
  border-bottom: 1px solid #93a1a1;
  padding-bottom: 10px;
}

.form-group {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-control {
  width: 100%;
  border: 1px solid #b58900;
  padding: 10px;
  outline: none;
  color: #6c71c4;
  margin-top: 5px;
  font-size: 15px;
  border-radius: 4px;
}

.select {
  height: 2.6em;
}

.form-label {
  color: #268bd2;
  font-size: 14px;
}

.submit-but {
  background: #b58900;
  border-radius: 4px;
  margin-left: 5em;
  width: 65%;
  color: #1e6e95;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
